<!DOCTYPE html>
<html>
  <head>
    <title>Starwarstrology</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Poller+One&family=Raleway&display=swap');
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
